# Notebook & Visualisierung
notebook
matplotlib
seaborn
pandas
openpyxl

# Datenvorverarbeitung
scikit-learn
numpy

# Deep Learning mit TensorFlow (CPU-Version)
tensorflow

# Optional: Fortschrittsbalken, falls du Training oder Analyse erweitern willst
tqdm

pandas
openpyxl
tabfairgan
torch
